/* Selects everything. Good for styling the width and heights of the board */
*, *::after, *::before {
    box-sizing: border-box;
}

/* CSS global variables */
:root {
    /* Each cell will have the same size width and height */
    --cell-size: 100px;
    /* The size of our Xs and Os */
    /* The mark size will be 90% of the cell size as we want the mark size to be slightly smaller than the cell size. */
    --mark-size: calc(var(--cell-size) * .9);

    /* Font settings for title elements */
    --font-size-large: 5rem;
    --font-family-large: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

h1 {
    font-family: var(--font-family-large);
    font-size: var(--font-size-large);
}

.board.show {
    display: grid;
}

/* Element that wraps all of our cells. */
.board {
    /* Sets the view of the board to cover the entire screen by default, to make it easier to center all of the elements inside of the board. */
    width: 100vw;
    height: 70vh;
    display: none;
    justify-content: center;
    align-content: center;
    /* Centers the Xs and Os in our board cells */
    align-items: center;
    justify-items: center;
    /* Set our grid elements to be 3x3 */
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Removes border lines to make board look authentic */
/* First row of cells */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

/* First column of cells */
.cell:nth-child(3n + 1) {
    border-left: none;
}

/* Last column of cells */
.cell:nth-child(3n + 3) {
    border-right: none;
}

/* Last row of cells */
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/* If an X or an O is already present, the cursor will display a "not-allowed" symbol */
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
    background-color: black;
}

/* Adds hover effect to board */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}



/* Xs and Os that go inside the cells */
/* Renders two bars; before and after */
.cell.x::before,
.cell.x::after,
/* Only apply hover effect when not on an X or O */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    /* Removes overlapping effect on X bars */
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

/* Selects first bar and creates the first X line */
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

/* Selects second bar and create the second X line */
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* CSS for circle element */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

/* Play Now button container */
.container {
    width: 100vw;
    height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Styling for Play Now button */
.play-now button {
    font-size: var(--font-size-large);
    font-family: var(--font-family-large);
    background-color: white;
    border: 1px solid black;
    padding: .25rem .5em;
    cursor: pointer;
}

.play-now button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.container.hide {
    display: none;
}

/* Styling for winning message screen */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25rem .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}
